﻿body {
    background: url('../Images/AS_background.jpg') repeat;
    padding-top: 70px;
}
.carousel-inner{
    height: 300px;
    background-color: white;
}

#loginModal{
    background: white;
    z-index:4;
}