﻿<div class="row">
    <div class="jumbotron col-sm-12">
        <h1>Angular Store</h1>
        <h2>Witamy w Angular Store</h2>
        <hr />
        <p class="lead">W naszym sklepie znajdziesz wszystko, czego potrzebujesz, w korzystnych cenach</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Elektronika</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Telewizory</a>
                            <a class="dropdown-item" href="#">Fotografia</a>
                            <a class="dropdown-item" href="#">RTV i AGD</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Moda</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Odzież, obuwie, dodatki</a>
                            <a class="dropdown-item" href="#">Odzież damska</a>
                            <a class="dropdown-item" href="#">RTV i AGD</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Moda</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Odzież, obuwie, dodatki</a>
                            <a class="dropdown-item" href="#">Odzież damska</a>
                            <a class="dropdown-item" href="#">RTV i AGD</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Moda</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Odzież, obuwie, dodatki</a>
                            <a class="dropdown-item" href="#">Odzież damska</a>
                            <a class="dropdown-item" href="#">RTV i AGD</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Moda</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Odzież, obuwie, dodatki</a>
                            <a class="dropdown-item" href="#">Odzież damska</a>
                            <a class="dropdown-item" href="#">RTV i AGD</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Moda</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Odzież, obuwie, dodatki</a>
                            <a class="dropdown-item" href="#">Odzież damska</a>
                            <a class="dropdown-item" href="#">RTV i AGD</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Moda</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Odzież, obuwie, dodatki</a>
                            <a class="dropdown-item" href="#">Odzież damska</a>
                            <a class="dropdown-item" href="#">RTV i AGD</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Moda</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Odzież, obuwie, dodatki</a>
                            <a class="dropdown-item" href="#">Odzież damska</a>
                            <a class="dropdown-item" href="#">RTV i AGD</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Moda</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Odzież, obuwie, dodatki</a>
                            <a class="dropdown-item" href="#">Odzież damska</a>
                            <a class="dropdown-item" href="#">RTV i AGD</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Moda</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Odzież, obuwie, dodatki</a>
                            <a class="dropdown-item" href="#">Odzież damska</a>
                            <a class="dropdown-item" href="#">RTV i AGD</a>
                        </div>
                    </li>
                </ul>
            </div>
            <!--<div class="card-body">

            </div>-->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="Images/FirstSlide.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="Images/SecondSlide.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="Images/ThirdSlide.jpg" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>